<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-header">
      <h1>Todos</h1>
      <% if signed_in? %>
        <ul class="user-menu">
          <li><%= link_to current_user.email, "#" %></li>
        </ul>
      <% end %>
    </div>

    <div class="page-container">
      <%= yield %>
    </div>
  </body>
</html>
